*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(web.jpg);
    background-size: cover;
    background-position: center;
    opacity: inherit;
}
.navigation-bar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 50px;
}
.logo
{
    position: fixed;
    margin-top: 10px;
}
.logo a
{
    text-decoration: none;
    color: orangered;
    font-size: 50px;
    font-weight: bold;
}
nav
{
    flex: 1;
    position: fixed;
    right: 0;  
}
nav ul
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 90px;
    margin-top: 17px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}
nav ul li a:hover
{
    color: orangered;
}
nav ul li button:hover
{
    color: orangered;
}
#login-form
{
    display: none;
}
.form-box
{
    width: 300px;
    height: 400px;
    position: relative;
    top: 90px;
    left:800px;
    background: rgba(0, 0, 0, 0.6);
}
.main-heading
{
    color: orangered;
    padding-bottom: 20px;
}
.form
{
    position: relative;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input
{
font-family: sans-serif;
outline: none;
border: none;
border-bottom: 1px solid black;
width: 100%;
margin: 0 0 15px;
padding: 15px;
font-size: 14px;
}
.form button
{
    font-family: sans-serif;
    width: 100%;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 15px;
    border: none;
    background: coral;
}
.form .asking
{
    font-size: 20px;
    margin: 15px 0 0;
    color: white;
}
.form .asking a
{
   color: orangered;
   text-decoration: none;
}
.form .register-form
{
    display: none;
}
@media screen {max-width: 570px};
    menuItems{
        padding: 0 1.5rem;
    }
